__pycache__
.env
.history
.hypothesis/
build/
reports/
ve-venv
scripts/*.json
node_modules/
settings.json
cache/
node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

layerzero/lib/
