project_structure:
  interfaces: contracts/interfaces
  tests: build # DEV: existing dir to suppress dir creation
  reports: build # DEV: existing dir to suppress dir creation

dotenv: .env

compiler:
  solc:
    remappings:
      - "@openzeppelin/contracts=OpenZeppelin/openzeppelin-contracts@4.9.3/contracts"
      - "@openzeppelin/contracts-upgradeable=OpenZeppelin/openzeppelin-contracts-upgradeable@4.9.3/contracts"
      # - "@chainlink/contracts=/Users/kyle/Code/dfx/ve/deploy/node_modules/@chainlink/contracts"
      - "@chainlink/contracts-ccip=/Users/kyle/Code/dfx/ve/deploy/node_modules/@chainlink/contracts-ccip"
  vyper:
    version: 0.3.7